
/* TYPOGRAPHY */

@font-face {
  font-family: 'Aeonik Web';
  src: url('../fonts/Aeonik-Medium.woff2') format('woff2'),
      url('../fonts/Aeonik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Web';
  src: url('../fonts/Aeonik-Bold.woff2') format('woff2'),
      url('../fonts/Aeonik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Web';
  src: url('../fonts/Aeonik-Regular.woff2') format('woff2'),
      url('../fonts/Aeonik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

body {
	font-family: 'Aeonik Web', Helvetica, sans-serif !important;
  font-size: 1em;
  line-height: 25px;
  font-weight: 500;
  color: #464646;
  box-sizing: border-box;
  overflow-x: hidden;
}


#one {
  background: #ffffff url('../images/top-bg.png');
  background-repeat: no-repeat;
  /* background-position: 30% 20%; */
  background-size: cover;
}

.top {
  margin-top: 100px;  
}

#logo {
  height: 45px;
}

.title {
  margin-top: 80px;
  line-height: 55px;
  letter-spacing: 0.02em;
}

.screens {
  margin: 60px 0;
}

.sub-title {
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.02em;
  margin-top: 280px;
}

.camera {
  position: absolute;
  top: 280px;
  left: 550px;
}

.home-screen {
  position: relative;
  top: 0;
  left: 0;
}

.lead {
  margin-top: 25px;
}

input:focus, select:focus, text-area:focus, button:focus {
  outline: none;
}

input[type="email"] {
  color:  #AEAEAE;
  font-size: 1em;
  background: #ffffff;
  border: none;
  padding: 1em 6.5em 1em 1.5em;
  letter-spacing: 0.02em;
  border-radius: 5px;
}

input, button {
  font-family: 'Aeonik Web', Helvetica, sans-serif !important;
  font-weight: 500;
}

button.email-entry {
  color: #ffffff;
  font-size: 1em;
  background: #F46523;
  border: none;
  letter-spacing: 0.02em;
  padding: 1em 1.5em;
  border-radius: 5px;
  cursor: pointer;
}

#three, #five {
  background-color: #F8F8F8;
}

#last {
  background-color: #004059;
  padding-top: 120px;
}

h1.footer-title {
  line-height: 55px;
}

.sub-foot {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.copyright {
  margin-top: 120px;
  padding-bottom: 20px;
}

.copyright-text {
  color: #ffffff;
  font-size: 14px;
}

.social-link {
  margin-left: 20px;
}

/*ANIMATIONS*/

.fadeIn{
	animation: fadeIn ease 5s;
	-webkit-animation: fadeIn ease 5s;
	-moz-animation: fadeIn ease 5s;
	-ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn{
	0%{transform:translateX(-20px);
		opacity:0.1;
	}
	100{transform:translateX(0);
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn{
	0%{opacity:0; 
		transform:translateX(-20px);
	}
	100{opacity: 1;
		transform:translateX(0);
	}
}
@-moz-keyframes fadeIn{
	0%{opacity:0;
		transform:translateX(-20px);
	}
	100{opacity: 1;
		transform:translateX(0);
	}
}

.fadeUp{
	animation: fadeUp ease 6s;
	-webkit-animation: fadeUp ease 6s;
	-moz-animation: fadeUp ease 6s;
	-ms-animation: fadeUp ease 6s;
}

@keyframes fadeUp{
	0%{transform: translateY(30px);
		opacity: 0.3;
	}
	100{transform:translateY(0);
		opacity:1;
	}
}

@-webkit-keyframes fadeUp{
	0%{transform: translateY(30px);
		opacity: 0.3;
	}
	100{transform:translateY(0);
		opacity:1;
	}
}


/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #F46523;
  font-weight: 500;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}


/* MEDIA QUERIES */

@media (max-width: 540px) {
  .screens {
    margin: 20px 0 10px 0;
  }
  .camera {
    position: absolute;
    top: 950px;
    left: 10px;
  }
  .sub-title {
    margin-top: 10px;
  }
  input[type="email"], button.email-entry {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  button.email-entry {
    margin-top: 10px;
  }
  .details {
    margin-bottom: 20px;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "one two"
}
}


@media (max-width: 640px) {
  .twist {
    display: flex;
    flex-direction: column;
  }
  .left-col {order: 2;}
  .right-col {order: 1;}

  .screens {
    margin: 20px 0 10px 0;
  }
  .camera {
    position: absolute;
    top: 950px;
    left: 10px;
  }
  .sub-title {
    margin-top: 10px;
  }
  input[type="email"], button.email-entry {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  button.email-entry {
    margin-top: 10px;
  }
  .details {
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .twist {
    display: flex;
    flex-direction: column;
  }
  .left-col {order: 2;}
  .right-col {order: 1;}
  
  .screens {
    margin: 20px 0 10px 0;
  }
  .camera {
    position: absolute;
    top: 950px;
    left: 10px;
  }
  .sub-title {
    margin-top: 10px;
  }
  .details {
    margin-bottom: 20px;
  }
  input[type="email"], button.email-entry {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  button.email-entry {
    margin-top: 10px;
  }
}

@media (min-width: 801px)and (max-width: 959px) {
  .screens {
    margin: 20px 0 10px 0;
  }
  .camera {
    position: absolute;
    top: 280px;
    left:450px;
  }
  .sub-title {
    margin-top: 70px;
  }
  .details {
    margin-bottom: 20px;
  }
  input[type="email"], button.email-entry {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  button.email-entry {
    margin-top: 10px;
  }
}

@media (min-width: 960px) {
  
}